<div class="container"
    [ngClass]="day ? 'day' : 'night'"
>
    <div class="content">
        <div class="logo-wrapper">
            <div class="logo" (click)="toggle()">
                <div class="text-container">
                <div class="logo-container">
                    <p>VIS</p>
                    <p>PRO</p>
                    <p>APP</p>
                    <div class="coming-soon">
                    Coming Soon
                    </div>
                </div>
                </div>
                <div class="blurb">
                Augmented Reality &middot; Virtual Reality &middot; App Development
                </div>
            </div>
        </div>
        <a id="about">About</a>
        <p>
            VisProApp is a cutting-edge technology company that develops machine learning and
            augmented reality products and games. We are in the early stages of development,
            but we are seeking to revolutionize the way people interact with the world around them.
            Our products are designed to be both fun and educational, and we believe that they have
            the potential to change the way people learn and play. We are currently seeking partners
            to help us bring our vision to life.
        </p>

        <div class="team">
            <about-person name="Sam Sampson"
                img="/assets/img/samsampson.jpeg"
                title="Software Engineer, Co-Founder"
                email="sam@visproapp.com"
            >
            </about-person>
            <about-person name="Steve Yeager"
                img="/assets/img/steveyeager.jpeg"
                title="Business Development, Co-Founder"
                email="steve@visproapp.com"
            >
            </about-person>
        </div>
        <div class="bottom-spacer">
            &nbsp;
        </div>
    </div>
</div>
